<section style="display: none !important" data-section-type="collection-template"></section> 
  
<section class="gt_section-1L719gLNfqJcXBj " data-name="Banner"><div class="gt_banner-bg gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/5ee3e2f9-d90f-4623-9fa1-b6918d586257.png')"><div class="gt_overlay"></div></div><div class="gt_atom-1L719gLNfqJcXBj_bannerBox gt_items--center gt_banner" data-name="Banner Box" data-attribute="bannerBox" data-class="gt_items--center gt_banner"><div class="gt_container"><div class="gt_atom-1L719gLNfqJcXBj_bannerContent gt_items--center gt_justify-c-center gt_banner--content" data-name="Content" data-attribute="bannerContent" data-class="gt_items--center gt_justify-c-center gt_banner--content"><div class="gt_atom-1L719gLNfqJcXBj_textLabel gt_mb--small gt_label--text" data-name="Label Text" data-attribute="textLabel" data-class="gt_mb--small gt_label--text"><div class="gt_atom-1L719gLNfqJcXBj_backgroundLabel gt_label--bg" data-name="Background Label" data-attribute="backgroundLabel" data-class="gt_label--bg"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/b1fe0a16-4b9b-4269-8ca7-d4d09b63efd7.png')"><div class="gt_atom-1L719gLNfqJcXBj_messageLabelText gt_font--bold gt_subheading gt_mb--none gt_label--custom" data-name="Text" data-attribute="messageLabelText" data-class="gt_font--bold gt_subheading gt_mb--none gt_label--custom"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><span style="color: #e03e2d;"><strong>INSANE SALE EVENT</strong></span></div></div></div></div></div></div><h2 class="gt_atom-1L719gLNfqJcXBj_headingBanner gt_heading--large gt_heading--custom" data-name="Heading" data-attribute="headingBanner" data-class="gt_heading--large gt_heading--custom"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;">CRAZY OFFERS</div></div></h2><div class="gt_atom-1L719gLNfqJcXBj_bannerMessage gt_items--center" data-name="Box Text" data-attribute="bannerMessage" data-class="gt_items--center"><div class="gt_atom-1L719gLNfqJcXBj_messageBanner1 gt_subheading" data-name="Message" data-attribute="messageBanner1" data-class="gt_subheading"><div class="gt_text-wrapper">
        UP <br> TO
      </div></div><div class="gt_atom-1L719gLNfqJcXBj_messageBanner2 gt_heading gt_text--highlight gt_px--small" data-name="Message" data-attribute="messageBanner2" data-class="gt_heading gt_text--highlight gt_px--small"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;">50% OFF</div></div></div><div class="gt_atom-1L719gLNfqJcXBj_messageBanner3 gt_subheading" data-name="Message" data-attribute="messageBanner3" data-class="gt_subheading"><div class="gt_text-wrapper">
        RIGHT <br> NOW
      </div></div></div><div class="gt_atom-1L719gLNfqJcXBj_titleCountdownTimer gt_items--center gt_justify-c-center gt_mb--extra-small gt_title--countdown" data-name="Title" data-attribute="titleCountdownTimer" data-class="gt_items--center gt_justify-c-center gt_mb--extra-small gt_title--countdown"><div class="gt_atom-1L719gLNfqJcXBj_lineCountdownTimer1 gt_banner--line" data-name="Line" data-attribute="lineCountdownTimer1" data-class="gt_banner--line"></div><div class="gt_atom-1L719gLNfqJcXBj_messageCountdownTimer gt_ml--small gt_mr--small" data-name="Message" data-attribute="messageCountdownTimer" data-class="gt_ml--small gt_mr--small"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;">LImited Time Only</div></div></div><div class="gt_atom-1L719gLNfqJcXBj_lineCountdownTimer2 gt_banner--line" data-name="Line" data-attribute="lineCountdownTimer2" data-class="gt_banner--line"></div></div><div class="gt_atom-1L719gLNfqJcXBj_CountdownTimerBanner gt_countdown--timer" data-name="Countdown Timer" data-attribute="CountdownTimerBanner" data-class="gt_countdown--timer"><div class="gt_atom-timer"><div class="gt_atom-days gt_atom-item gt_active"><div class="gt_atom-num"><div class="gt_atom-num1">0</div><div class="gt_atom-num2">0</div></div><p class="gt_atom-label">
        Days
      </p></div><div class="gt_atom-separate"><span class="gt_atom-separate--dot"></span><span class="gt_atom-separate--dot"></span></div><div class="gt_atom-hours gt_atom-item gt_active"><div class="gt_atom-num"><div class="gt_atom-num1">0</div><div class="gt_atom-num2">0</div></div><p class="gt_atom-label">
        Hours
      </p></div><div class="gt_atom-separate"><span class="gt_atom-separate--dot"></span><span class="gt_atom-separate--dot"></span></div><div class="gt_atom-minutes gt_atom-item gt_active"><div class="gt_atom-num"><div class="gt_atom-num1">0</div><div class="gt_atom-num2">0</div></div><p class="gt_atom-label">
        Minutes
      </p></div><div class="gt_atom-separate"><span class="gt_atom-separate--dot"></span><span class="gt_atom-separate--dot"></span></div><div class="gt_atom-seconds gt_atom-item gt_active"><div class="gt_atom-num"><div class="gt_atom-num1">0</div><div class="gt_atom-num2">0</div></div><p class="gt_atom-label">
        Seconds
      </p></div></div></div><div class="gt_atom-1L719gLNfqJcXBj_buttonLink gt_mt--medium" data-name="Button" data-attribute="buttonLink" data-class="gt_mt--medium"><div class="gt_button  gt_atom--btn"><div class="gt_button-content-text"><div class="gt_box-desc" style="display: inline;">Shop Now!</div></div></div><span class="atom-button-loading-circle-loader"><span class="atom-button-loading-check-mark atom-button-loading-check-mark-draw"></span></span></div></div><div class="gt_atom-1L719gLNfqJcXBj_imageOne gt_banner--image gt_image--one" data-name="Image One" data-attribute="imageOne" data-class="gt_banner--image gt_image--one"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0550/5987/3838/t/2/assets/MBuLGbjzbB-adorable-little-kitty-planner-pot-jpg_50x.jpg')"><div class="gt_atom-1L719gLNfqJcXBj_backgroundLabelOne gt_banner--label gt_label--one" data-name="Background Label" data-attribute="backgroundLabelOne" data-class="gt_banner--label gt_label--one"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/39ac41c9-d105-4331-b7b5-c4c56f972110.png')"><div class="gt_atom-1L719gLNfqJcXBj_headingLabelOne gt_subheading gt_mb--none gt_font--bold" data-name="Text" data-attribute="headingLabelOne" data-class="gt_subheading gt_mb--none gt_font--bold"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><strong>30%</strong></div></div></div><div class="gt_atom-1L719gLNfqJcXBj_messageLabelOne gt_font--bold" data-name="Text" data-attribute="messageLabelOne" data-class="gt_font--bold"><div class="gt_text-wrapper">
        OFF
      </div></div></div></div></div></div><div class="gt_atom-1L719gLNfqJcXBj_imageTwo gt_banner--image gt_image--two" data-name="Image Two" data-attribute="imageTwo" data-class="gt_banner--image gt_image--two"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0550/5987/3838/t/2/assets/CtPPLhydVY-accordion-style-wooden-lamp-1-jpg_50x.jpg')"><div class="gt_atom-1L719gLNfqJcXBj_backgroundLabelTwo gt_banner--label gt_label--two" data-name="Background Label" data-attribute="backgroundLabelTwo" data-class="gt_banner--label gt_label--two"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/39ac41c9-d105-4331-b7b5-c4c56f972110.png')"><div class="gt_atom-1L719gLNfqJcXBj_headingLabelTwo gt_subheading gt_mb--none gt_font--bold" data-name="Text" data-attribute="headingLabelTwo" data-class="gt_subheading gt_mb--none gt_font--bold"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><strong>40%</strong></div></div></div><div class="gt_atom-1L719gLNfqJcXBj_messageLabelTwo gt_font--bold" data-name="Text" data-attribute="messageLabelTwo" data-class="gt_font--bold"><div class="gt_text-wrapper">
        OFF
      </div></div></div></div></div></div><div class="gt_atom-1L719gLNfqJcXBj_imageThree gt_banner--image gt_image--three" data-name="Image Three" data-attribute="imageThree" data-class="gt_banner--image gt_image--three"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0550/5987/3838/t/2/assets/waExbJFzUp-fancy-mechanical-wrist-watch-jpg_50x.jpg')"><div class="gt_atom-1L719gLNfqJcXBj_backgroundLabelThree gt_banner--label gt_label--three" data-name="Background Label" data-attribute="backgroundLabelThree" data-class="gt_banner--label gt_label--three"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/39ac41c9-d105-4331-b7b5-c4c56f972110.png')"><div class="gt_atom-1L719gLNfqJcXBj_headingLabelThree gt_heading gt_mb--none gt_font--bold gt_custom--heading" data-name="Text" data-attribute="headingLabelThree" data-class="gt_heading gt_mb--none gt_font--bold gt_custom--heading"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;">50%</div></div></div><div class="gt_atom-1L719gLNfqJcXBj_messageLabelThree gt_font--bold" data-name="Text" data-attribute="messageLabelThree" data-class="gt_font--bold"><div class="gt_text-wrapper">
        OFF
      </div></div></div></div></div></div></div></div></section>

<section class="gt_section-VqSeRxw2Ma50cBi " data-name="Featured Collection"><div class="gt_featured-bg gt_lazyload" style=" background-image: url('')"><div class="gt_overlay"></div></div><div class="gt_productlist"><div class="position_hook"></div><div class="gt_container"><h3 class="gt_atom-VqSeRxw2Ma50cBi_sectionName gt_heading gt_text--center" data-name="Section Name" data-attribute="sectionName" data-class="gt_heading gt_text--center"><div class="gt_text-wrapper"><span><svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.39286 0H8.75L5.68877 6.18546H10L1.25 14.8451L3.03571 8.65964H0L3.39286 0Z" fill="currentColor"></path></svg></span><span> Flash Deal</span></div></h3><div class="gt_atom-VqSeRxw2Ma50cBi_descriptionSection gt_subheading gt_text--center gt_mb--medium" data-name="Description" data-attribute="descriptionSection" data-class="gt_subheading gt_text--center gt_mb--medium"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><strong>Extra <span style="color: #e03e2d;">15% Off</span> on Top of Existing Discount</strong><br><span style="color: #e03e2d;"><strong>Automatically Applied at Checkout<br></strong><span style="color: #000000;">While Supply Lasts</span><br></span></div></div></div><div class="position_hook"></div><div class="gt_flex gt_flex-wrap gt_productlist-items">
        
        
        
        {% for product in collections["flash-sales"].products limit:8 %}
        
          <div class="gt_productlist-item"><div class="gt_element-86073 gt_product-element  gt_product-hover--img-change   gt_product-hover--img-scale " data-name="Master Product List" data-keyword="product">
  {%- assign gtCurrentVariant = product.selected_or_first_available_variant -%}
  
  <script type="application/json" class="ProductJson" data-id="{{product.id}}" data-variant="{{gtCurrentVariant.id}}">
    {{ product | json }}
  </script>
  {% unless gtCurrentVariant == empty %}
  <script type="application/json">
    {{ gtCurrentVariant | json }}
  </script>
  {% endunless %}

  
  {% form 'product', product, class:'gt_product-form ' %}
  
  <input type="hidden" name="id" class="gt_swatches--input" value="{{gtCurrentVariant.id}}"><input type="hidden" name="quantity" class="gt_quantity--input" value="1"><a class="link_gt_product gt_product-default" href="{{product.url}}" title="{{product.title | escape | replace: '&quot;', '&apos;' }}" target="_blank"><div class="gt_product-image-box"><div class="gt_product-above-top-image-hook" style="position: absolute; top: 0; left: 0; width: 100% ; z-index: 4;"></div><div class="gt_product-above-bottom-image-hook" style="position: absolute; bottom: 0; left: 0; width: 100% ; z-index: 4;"></div>
      
      {%- if gtCurrentVariant.compare_at_price > gtCurrentVariant.price -%}
      <div class="gt_product-sale-tag"><!--                <div class="gt_product-sale-tag&#45;&#45;inner gt_pt&#45;&#45;extra-small gt_pb&#45;&#45;extra-small gt_pr&#45;&#45;small gt_pl&#45;&#45;small">--><div class="gt_product-sale-tag--inner"><div class="gt_product-sale-tag--value gt_product-sale-tag--value--percent"></div><div class="gt_product-sale-tag--value gt_product-sale-tag--value--number"></div><div class="gt_product-sale-tag--after"></div></div></div>
      {%- endif -%}
      
      <div class="gt_product-sold-out-tag" data-sold-out="Sold Out">
          {% unless gtCurrentVariant.available %}
            <div class="gt_product-sold-out-tag--inner">
              Sold Out
            </div>
          {% endunless %}
        </div><div class="gt_product-image"><div class="gt_product-image--inner"><div class="gt_product-image--list">
            {%- assign product_image_front = product.featured_image -%}
            {%- assign product_image_back = product.images | last -%}

            
            {%- assign product_image_front = product.featured_image -%}
            

            
            {% assign product_image_back = product.images | last %}
            

            <img class="gt_product-image--front not-variant gt_lazyload" src="{{ product_image_front.src | img_url: '50x' }}" data-id="{{ product_image_front.id }}" alt="{{ product_image_front.alt | escape | replace: '&quot;', '&apos;' }}"><img class="gt_product-image--back gt_lazyload" src="{{ product_image_back.src | img_url: '50x' }}" data-id="{{ product_image_back.id }}" alt="{{ product_image_back.alt | escape | replace: '&quot;', '&apos;' }}"></div></div></div><div class="gt_product-button gt_mt--small gt_atc-button-pc gt_product-style-2"><button class="gt_button gt_button--small gt_atom-86073_productButtonBuy  {% unless gtCurrentVariant.available %}gt_sold_out{% endunless %}  gt_product-button--add-to-cart" {% unless gtCurrentVariant.available %}disabled="disabled" {% endunless %} data-name="Product Button Add To Cart" name="add" data-attribute="productButtonBuy" data-class="gt_product-button--add-to-cart"><span class="gt_button-content"><span class="gt_button-content-text">
      
        {% unless gtCurrentVariant.available %}
          
          <span class="gt_button-content-text-main">
            Sold out
          </span><span data-optimize-type="icon" data-attribute="iconRightData," data-section-id="86073_productButtonBuy" class="gt_icon"><svg height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.69998 20C5.19998 20 4.09998 18.8 4.09998 17.4C4.09998 15.9 5.29998 14.8 6.69998 14.8C8.19998 14.8 9.29998 16 9.29998 17.4C9.39998 18.8 8.19998 20 6.69998 20ZM6.69998 16.7C6.29998 16.7 6.09998 17 6.09998 17.3C6.09998 17.7 6.39998 17.9 6.69998 17.9C7.09998 17.9 7.29998 17.6 7.29998 17.3C7.39998 17 7.09998 16.7 6.69998 16.7Z" fill="currentColor"></path><path d="M16.5 20C15 20 13.9 18.8 13.9 17.4C13.9 15.9 15.1 14.8 16.5 14.8C18 14.8 19.1 16 19.1 17.4C19.2 18.8 18 20 16.5 20ZM16.5 16.7C16.1 16.7 15.9 17 15.9 17.3C15.9 17.7 16.2 17.9 16.5 17.9C16.9 17.9 17.1 17.6 17.1 17.3C17.2 17 16.9 16.7 16.5 16.7Z" fill="currentColor"></path><path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"></path></svg></span>
          
        {% else %}
          
          <span class="gt_button-content-text-main">
            ADD
          </span><span data-optimize-type="icon" data-attribute="iconRightData," data-section-id="86073_productButtonBuy" class="gt_icon"><svg height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.69998 20C5.19998 20 4.09998 18.8 4.09998 17.4C4.09998 15.9 5.29998 14.8 6.69998 14.8C8.19998 14.8 9.29998 16 9.29998 17.4C9.39998 18.8 8.19998 20 6.69998 20ZM6.69998 16.7C6.29998 16.7 6.09998 17 6.09998 17.3C6.09998 17.7 6.39998 17.9 6.69998 17.9C7.09998 17.9 7.29998 17.6 7.29998 17.3C7.39998 17 7.09998 16.7 6.69998 16.7Z" fill="currentColor"></path><path d="M16.5 20C15 20 13.9 18.8 13.9 17.4C13.9 15.9 15.1 14.8 16.5 14.8C18 14.8 19.1 16 19.1 17.4C19.2 18.8 18 20 16.5 20ZM16.5 16.7C16.1 16.7 15.9 17 15.9 17.3C15.9 17.7 16.2 17.9 16.5 17.9C16.9 17.9 17.1 17.6 17.1 17.3C17.2 17 16.9 16.7 16.5 16.7Z" fill="currentColor"></path><path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"></path></svg></span>
          
        {% endunless %}
      
    </span><span class="atom-button-loading-circle-loader"><span class="atom-button-loading-check-mark atom-button-loading-check-mark-draw"></span></span></span></button></div></div></a><div class="gt_product-info gt_flex1">
<div class="gt_widget-V8hkmJ8As2Ewur8" data-name="Ryviu Reviews">
  <div class="gt_container-full">
    <div class="gt_reviews">
        
          
            
              
              <div class="review-widget">
                <ryviu-widget-total reviews_data="{{product.metafields.ryviu.product_reviews_info  | escape  }}" product_id="{{product.id}}" handle="{{product.handle}}"></ryviu-widget-total>
              </div>
              
            
          

      
     </div>
  </div>
</div>

<div data-name="After Product Image"></div><div class="gt_product-info--top gt_flex1"><a class="link_gt_product" href="{{product.url}}" title="{{product.title | escape | replace: '&quot;', '&apos;' }}" target="_blank"><div class="gt_product-name"><h2 class="gt_subheading gt_atom-86073_productTitle " data-name="Product Title" data-attribute="productTitle">
  {{product.title}}
</h2></div></a><div class="gt_product_vendor"></div><div class="gt_product-price gt_product-price--custom"><span class="gt_product-price--current" data-currentprice="{{ gtCurrentVariant.price }}">
          {{ gtCurrentVariant.price | money }}
        </span>
          {% if gtCurrentVariant.compare_at_price > gtCurrentVariant.price %}
            <div class="gt_pr--extra-small gt_pt--extra-small gt_distance--custom"></div><span class="gt_product-price--compare" data-currentprice="{{ gtCurrentVariant.compare_at_price }}">
              {{ gtCurrentVariant.compare_at_price | money }}
            </span>
          {% endif %}
      </div><div class="gt_product_variants gt_product_variants--horizontal"></div></div><div class="wrapper_price"><div class="gt_flex1"></div><div class="gt_product-price gt_product-default gt_product-price--origin"><span class="gt_product-price--current" data-currentprice="{{ gtCurrentVariant.price }}">
            {{ gtCurrentVariant.price | money }}
          </span>
          
            {% if gtCurrentVariant.compare_at_price > gtCurrentVariant.price %}
              <div class="gt_pr--extra-small gt_pt--extra-small"></div><span class="gt_product-price--compare" data-currentprice="{{ gtCurrentVariant.compare_at_price }}">
                {{ gtCurrentVariant.compare_at_price | money }}
              </span>
            {% endif %}
          
        </div><div class="gt_product-button gt_mt--small gt_atc-button-pc gt_product-style-default"><button class="gt_button gt_button--small gt_atom-86073_productButtonBuy  {% unless gtCurrentVariant.available %}gt_sold_out{% endunless %}  gt_product-button--add-to-cart" {% unless gtCurrentVariant.available %}disabled="disabled" {% endunless %} data-name="Product Button Add To Cart" name="add" data-attribute="productButtonBuy" data-class="gt_product-button--add-to-cart"><span class="gt_button-content"><span class="gt_button-content-text">
      
        {% unless gtCurrentVariant.available %}
          
          <span class="gt_button-content-text-main">
            Sold out
          </span><span data-optimize-type="icon" data-attribute="iconRightData," data-section-id="86073_productButtonBuy" class="gt_icon"><svg height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.69998 20C5.19998 20 4.09998 18.8 4.09998 17.4C4.09998 15.9 5.29998 14.8 6.69998 14.8C8.19998 14.8 9.29998 16 9.29998 17.4C9.39998 18.8 8.19998 20 6.69998 20ZM6.69998 16.7C6.29998 16.7 6.09998 17 6.09998 17.3C6.09998 17.7 6.39998 17.9 6.69998 17.9C7.09998 17.9 7.29998 17.6 7.29998 17.3C7.39998 17 7.09998 16.7 6.69998 16.7Z" fill="currentColor"></path><path d="M16.5 20C15 20 13.9 18.8 13.9 17.4C13.9 15.9 15.1 14.8 16.5 14.8C18 14.8 19.1 16 19.1 17.4C19.2 18.8 18 20 16.5 20ZM16.5 16.7C16.1 16.7 15.9 17 15.9 17.3C15.9 17.7 16.2 17.9 16.5 17.9C16.9 17.9 17.1 17.6 17.1 17.3C17.2 17 16.9 16.7 16.5 16.7Z" fill="currentColor"></path><path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"></path></svg></span>
          
        {% else %}
          
          <span class="gt_button-content-text-main">
            ADD
          </span><span data-optimize-type="icon" data-attribute="iconRightData," data-section-id="86073_productButtonBuy" class="gt_icon"><svg height="100%" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.69998 20C5.19998 20 4.09998 18.8 4.09998 17.4C4.09998 15.9 5.29998 14.8 6.69998 14.8C8.19998 14.8 9.29998 16 9.29998 17.4C9.39998 18.8 8.19998 20 6.69998 20ZM6.69998 16.7C6.29998 16.7 6.09998 17 6.09998 17.3C6.09998 17.7 6.39998 17.9 6.69998 17.9C7.09998 17.9 7.29998 17.6 7.29998 17.3C7.39998 17 7.09998 16.7 6.69998 16.7Z" fill="currentColor"></path><path d="M16.5 20C15 20 13.9 18.8 13.9 17.4C13.9 15.9 15.1 14.8 16.5 14.8C18 14.8 19.1 16 19.1 17.4C19.2 18.8 18 20 16.5 20ZM16.5 16.7C16.1 16.7 15.9 17 15.9 17.3C15.9 17.7 16.2 17.9 16.5 17.9C16.9 17.9 17.1 17.6 17.1 17.3C17.2 17 16.9 16.7 16.5 16.7Z" fill="currentColor"></path><path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"></path></svg></span>
          
        {% endunless %}
      
    </span><span class="atom-button-loading-circle-loader"><span class="atom-button-loading-check-mark atom-button-loading-check-mark-draw"></span></span></span></button></div></div></div>
  
  
  {% endform %}
  
</div></div>
        {% endfor %}
      </div><div class="gt_mt--medium gt_button--section"></div></div><div class="position_hook"></div></div></section>

<section class="gt_section-TWIHRPqOs0JFvSE " data-name="Newsletter">
    <div class="gt_newletter">
      <div class="gt_container">
        <div class="gt_flex gt_align-i-center gt_justify-c-center gt_flex-wrap gt_newletter-body">
          <div class="gt_pr--medium gt_mb--medium gt_newletter_content">
            <h5 class="gt_heading gt_newletter_headding">
              Get Exclusive Discounts
            </h5>
            <p class="gt_newletter_message">
              Sign up and get 15% OFF on your first order.
            </p>
          </div>

          
          <div class="gt_newletter-form">
            {% form 'customer' %} 
              {% if form.errors %}
                {% for field in form.errors %}
                  <div class="gt_newletter_input">
                    <p class="result-error">{{ field }} {{ form.errors.messages[field] }}</p>
                  </div>
                {% endfor %}
              {% endif %}
              {% if form.posted_successfully? %}
                <div class="gt_newletter_input">
                  <p class="result">
                    Thanks for subscribing!  
                  </p>
                </div>
              {% else %}
              <div class="gt_newletter_input">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input class="gt_input gt_pl--small" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="contact[email]" autocorrect="off" autocapitalize="off" placeholder="Your email here...">
                <button class="gt_newletter_btn gt_button--large  gt_pl--medium gt_pr--medium" id="Subscribe" type="submit" aria-label="Subscribe">
                  Submit!
                </button>
              </div>
              <p class="result"></p>
              <p class="result-error"></p>
              {% endif %}
            {% endform %}
            
            
          </div>
        </div>
      </div>
    </div>
  </section>
  

   
  
{% comment %}
You SHOULD NOT modify source code in this page because
It is automatically generated from EcomSolid
Try to edit page with the live editor.
{% endcomment %}
<div class="gt_widget-DLhVfOwT0PKKHYz" data-name="Smart Quick View">
  {% if product == null or product == "" or product == empty %}
    {%- assign product = collections.all.products[0] -%}
    {% for product in collection.all.products %}
      {% if product.images.size > 0 %} 
        {% assign product = product %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {%- assign gtCurrentVariant = product.selected_or_first_available_variant -%}
  <div class="gt_modal-quick-view" data-keyword="product"><script type="application/json" class="ProductJson" data-id="{{product.id}}" data-variant="{{product.selected_or_first_available_variant.id}}">
      {{ product | json }}
    </script><div class="gt_modal-backdrop"></div><div class="gt_modal-container"><div class="gt_modal-quick-view--close"><svg width="17.5" height="17.5" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.66683 1.27333L8.72683 0.333328L5.00016 4.06L1.2735 0.333328L0.333496 1.27333L4.06016 5L0.333496 8.72666L1.2735 9.66666L5.00016 5.93999L8.72683 9.66666L9.66683 8.72666L5.94016 5L9.66683 1.27333Z"></path></svg></div><main class="gt_modal-body">
       
        {% form 'product', product, data-productid: product.id, class:'gt_quick-view--product-form' %}
        <div class="gt_atom-DLhVfOwT0PKKHYz_boxButtonQuickview gt_btn-preview-quick-view position-default" data-name="Box Button Quickview" data-attribute="boxButtonQuickview" data-class="gt_btn-preview-quick-view position-default"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img"><div class="gt_atom-DLhVfOwT0PKKHYz_tooltipBox gt_btn-quick-view-tooltip" data-name="Tooltip Box" data-attribute="tooltipBox" data-class="gt_btn-quick-view-tooltip"><div class="gt_atom-DLhVfOwT0PKKHYz_innerText gt_btn-quick-view-tooltip-text" data-name="Inner Text" data-attribute="innerText" data-class="gt_btn-quick-view-tooltip-text"><div class="gt_text-wrapper">
        Quick view
      </div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_iconQuickview gt_btn-quick-view-icon" data-name="Icon Quickview" data-attribute="iconQuickview" data-class="gt_btn-quick-view-icon"><div class="gt_icon-wrapper"><span data-optimize-type="icon" data-attribute="textValue," data-section-id="DLhVfOwT0PKKHYz_iconQuickview" class="gt_icon"><svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_757_6783)"><path d="M16 8C16 8 13 2.5 8 2.5C3 2.5 -3.85876e-08 8 -3.85876e-08 8C-3.85876e-08 8 3 13.5 8 13.5C13 13.5 16 8 16 8ZM1.173 8C1.65651 7.26512 2.21264 6.58069 2.833 5.957C4.12 4.668 5.88 3.5 8 3.5C10.12 3.5 11.879 4.668 13.168 5.957C13.7884 6.58069 14.3445 7.26512 14.828 8C14.77 8.087 14.706 8.183 14.633 8.288C14.298 8.768 13.803 9.408 13.168 10.043C11.879 11.332 10.119 12.5 8 12.5C5.88 12.5 4.121 11.332 2.832 10.043C2.21165 9.41931 1.65552 8.73487 1.172 8L1.173 8Z" fill="currentColor"></path><path d="M8 5.5C7.33696 5.5 6.70107 5.76339 6.23223 6.23223C5.76339 6.70107 5.5 7.33696 5.5 8C5.5 8.66304 5.76339 9.29893 6.23223 9.76777C6.70107 10.2366 7.33696 10.5 8 10.5C8.66304 10.5 9.29893 10.2366 9.76777 9.76777C10.2366 9.29893 10.5 8.66304 10.5 8C10.5 7.33696 10.2366 6.70107 9.76777 6.23223C9.29893 5.76339 8.66304 5.5 8 5.5ZM4.5 8C4.5 7.07174 4.86875 6.1815 5.52513 5.52513C6.1815 4.86875 7.07174 4.5 8 4.5C8.92826 4.5 9.8185 4.86875 10.4749 5.52513C11.1313 6.1815 11.5 7.07174 11.5 8C11.5 8.92826 11.1313 9.8185 10.4749 10.4749C9.8185 11.1313 8.92826 11.5 8 11.5C7.07174 11.5 6.1815 11.1313 5.52513 10.4749C4.86875 9.8185 4.5 8.92826 4.5 8Z" fill="currentColor"></path></g><defs><clipPath id="clip0_757_6783"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg></span></div></div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_box gt_p2--medium  boxContainer" data-name="Product Container" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" data-attribute="box" data-class="gt_p2--medium  boxContainer"><input class="gt_variant-input--default" type="hidden" name="id" value="{{gtCurrentVariant.id}}"><input class="gt_quantity-input--default" type="hidden" value="1" name="quantity"><div class="gt_atom-DLhVfOwT0PKKHYz_boxImage gt_modal-body--left sm:gt_mb--medium xs:gt_mb--medium" data-name="Product Image Box" data-attribute="boxImage" data-class="gt_modal-body--left sm:gt_mb--medium xs:gt_mb--medium"><div class="gt_atom-DLhVfOwT0PKKHYz_productImageList gt_product-image gt_product--sticky" data-name="Product Image" data-atom-type="Slider" data-atom-id="DLhVfOwT0PKKHYz_productImageList" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" data-attribute="productImageList" data-class="gt_product-image gt_product--sticky"><div id="gt_product-image-list-id" class="gt_product-image-list--bottom"><div class="gt_product-image--inner gt_product-image--thumb"><div class="gt_product-img">
            {% if product.media.size > 0 %}
            <div class="swiper-container gt_product-feature--swiper gt_product-feature--swiper-DLhVfOwT0PKKHYz_productImageList"><div class="swiper-wrapper gt-carousel--hide-default">
                {% assign videoMedia = product.media | where: "media_type", "video" %}
                {% assign exVideoMedia = product.media | where: "media_type", "external_video" %}
                {% assign modelMedia = product.media | where: "media_type", "model" %}
                {% assign imageMedia = product.media | where: "media_type", "image" %}
                
                  {% assign sortedMedia = product.media %}
                 

                
                  {% assign sortedMedia = product.media %}
                    
                             
                {%- for media in sortedMedia -%}
                <div class="swiper-slide"><div class="gt_product-img--inner"><div class="gt_product-img-box"><div class="gt_product-img-box--inner">
                        
                        {% if media.media_type == "image" %}
                          <img class="gt_lazyload gt_product-image--feature gt_product-image--scale" src="{{ media | img_url: '100x' }}" data-id="{{media.id}}" alt="{{ media.alt | escape | replace: '&quot;', '&apos;' }}" data-original="{{ media | img_url: 'master' }}">
                        {% endif %}
                        
                        {% if media.media_type == "external_video" %}
                        <div class="gt_product-image--feature gt_product-media--feature" data-id="{{media.id}}">
                          {{ media | external_video_tag: class: "gt_product-external-video" }}
                        </div>
                        {% endif %}
                        
                        {% if media.media_type == "video" %}
                        <div class="gt_product-image--feature gt_product-media--feature" data-id="{{media.id}}">
                          {{ media | video_tag: controls: true }}
                        </div>
                        {% endif %}
                        
                        {% if media.media_type == "model" %}
                        <div class="gt_product-image--feature gt_product-media--model gt_product-media--feature" data-id="{{media.id}}">
                          {{ media | model_viewer_tag: class:"gt_product-model" }}
                        </div>
                        {% endif %}
                        
                      </div></div></div></div>
                {%- endfor -%}
              </div><div class="gt_flex gt_justify-c-center gt_items--center gt_product-img-nav"><div class="gt_flex gt_align-i-center gt_product-img-nav--arrow gt_product-img-nav--left"><span data-optimize-type="icon" data-attribute="iconNavPrev," data-section-id="DLhVfOwT0PKKHYz_productImageList" class="gt_icon"><svg height="100%" fill="currentColor" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg></span></div><div class="gt_control-pagination" id="gt_control-pagination-DLhVfOwT0PKKHYz_productImageList"></div><div class="gt_flex gt_align-i-center gt_product-img-nav--arrow gt_product-img-nav--right"><span data-optimize-type="icon" data-attribute="iconNavNext," data-section-id="DLhVfOwT0PKKHYz_productImageList" class="gt_icon"><svg height="100%" fill="currentColor" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></span></div></div></div>
            {% endif %}
            <slot></slot></div><div class="gt_product-carousel-box">
            {% if product.media.size > 0 %}
            <div class="swiper-container gt_product--swiper gt_product--swiper-DLhVfOwT0PKKHYz_productImageList"><div class="swiper-wrapper gt-carousel--hide-default">
                {%- for media in sortedMedia -%}
                <div class="swiper-slide"><div class="gt_product-carousel--item {{media.media_type }}" data-id="{{media.id}}"><img class="gt_lazyload" src="{{ media | img_url: '100x' }}" data-id="{{media.id}}" alt="{{ media.alt | escape | replace: '&quot;', '&apos;' }}" data-original="{{ media | img_url: 'master' }}"></div></div>
                {%- endfor -%}
              </div><div class="gt_control gt_flex gt_justify-c-center gt_items--center"><div class="gt_flex gt_justify-c-center gt_align-i-center gt_control-prev"><span data-optimize-type="icon" data-attribute="iconNavigationPrev," data-section-id="DLhVfOwT0PKKHYz_productImageList" class="gt_icon"><svg height="100%" fill="currentColor" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg></span></div><div class="gt_flex gt_justify-c-center gt_align-i-center gt_control-next"><span data-optimize-type="icon" data-attribute="iconNavigationNext," data-section-id="DLhVfOwT0PKKHYz_productImageList" class="gt_icon"><svg height="100%" fill="currentColor" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></span></div></div></div>
            {% endif %}
          </div></div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_productTagSale gt_product-tag-sale gt_subheading  gt_product-tag-sale" data-name="Tag Sale" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" data-type="percent" data-label="-[!Profit!]" data-roundpercent="0" data-removezero="true" data-attribute="productTagSale" data-class="gt_subheading  gt_product-tag-sale"><div class="gt_flex gt_items--center gt_justify-c-center gt_product-tag-sale--inner"><div class="gt_product-tag-sale--value gt_product-tag-sale--value--percent"></div><div class="gt_product-tag-sale--value gt_product-tag-sale--value--number"></div><div class="gt_product-tag-sale--after"></div></div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_boxInfo gt_modal-body--right" data-name="Product Info Box" data-attribute="boxInfo" data-class="gt_modal-body--right"><div class="gt_atom-DLhVfOwT0PKKHYz_boxDetail gt_product-detail" data-name="Product Detail Box" data-attribute="boxDetail" data-class="gt_product-detail"><h2 class="gt_atom-DLhVfOwT0PKKHYz_productTitle gt_subheading gt_mb--small gt_product-title" id="a-DLhVfOwT0PKKHYz_productTitle" data-name="Title" data-product-id="{{product.id}}" data-attribute="productTitle" data-class="gt_subheading gt_mb--small gt_product-title">
  
      {{product.title}}
  
</h2><div class="position_hook"></div><div class="gt_atom-DLhVfOwT0PKKHYz_messengerInStock gt_mb2--small gt_text-in-stock" data-name="Messenger" data-attribute="messengerInStock" data-class="gt_mb2--small gt_text-in-stock"><div class="gt_text-wrapper">
        Avalability: <span style="color: #52c41a;">In Stock</span></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_boxPrice gt_items--center  gt_product-box-price" data-name="Product Price Box" data-attribute="boxPrice" data-class="gt_items--center  gt_product-box-price"><div class="gt_atom-DLhVfOwT0PKKHYz_productPrice gt_heading--small gt_product-price" id="a-DLhVfOwT0PKKHYz_productPrice" data-name="Price" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" sync-quantity-and-price="true" data-attribute="productPrice" data-class="gt_heading--small gt_product-price"><span class="gt_product-price--number" itemprop="price" data-currentprice="{{ gtCurrentVariant.price }}">
      {{ gtCurrentVariant.price | money }}
    </span></div><div class="gt_atom-DLhVfOwT0PKKHYz_productComparePrice gt_subheading  gt_product-compare-price" id="a-DLhVfOwT0PKKHYz_productComparePrice" data-name="Compare Price" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" sync-quantity-and-price="true" data-attribute="productComparePrice" data-class="gt_subheading  gt_product-compare-price">
  {% assign compare_at_price = gtCurrentVariant.compare_at_price %}
  {% assign price = gtCurrentVariant.price %}
  {% assign gtActive = "" %}
  {% if compare_at_price > price %}
    {% assign gtActive = "gt_active" %}
  {% endif %}
  <span class="gt_product-price--compare {{gtActive}}" data-currentprice="{{ compare_at_price }}">
    {{ compare_at_price | money }}
  </span></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_productDescription gt_product_description_qw gt_mb2--medium" id="a-DLhVfOwT0PKKHYz_productDescription" data-name="Product Description" data-product-id="{{product.id}}" data-attribute="productDescription" data-class="gt_product_description_qw gt_mb2--medium">
  {% if product.content and product.content != '' %}
    <div class="gt_description"><div class="gt_box-desc">
        
          {% assign description = product.content %}
          
            {% assign cloneDesc = description | split: "<img " %}
            {% for part in cloneDesc %}
              {% if part.size < 5 %}
                {% continue %}
              {% endif %}
              {% assign threeLetters = part | slice: 0, 3 %}
              {% assign fiveLetters = part | slice: 0, 5 %}
              {% if threeLetters == "src" or threeLetters == "alt" or fiveLetters == "style" %}
                {% assign tagContent = part | split: '">' %}
                {% assign fullImageTag = tagContent[0] | prepend: "<img " | append: '">' %}
                {% assign fullLazyImageTag = tagContent[0] | replace: "src", "data-src" | prepend: "<img " | append: '" class="gt_lazyload" data-type="auto">' %}
                {% assign description = description | replace: fullImageTag, fullLazyImageTag %}
              {% endif %}
            {% endfor %}
          

          {{description}}

        
      </div><div style="clear: both;"></div><a href="{{ product.url }}" class="gt_btn-view-more gt_go-to-product"><div class="gt_title-show">
            View details

            
            <svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 4C2.25 3.0335 3.0335 2.25 4 2.25H7C7.41421 2.25 7.75 2.58579 7.75 3C7.75 3.41421 7.41421 3.75 7 3.75H4C3.86193 3.75 3.75 3.86193 3.75 4V12C3.75 12.1381 3.86193 12.25 4 12.25H12C12.1381 12.25 12.25 12.1381 12.25 12V9C12.25 8.58579 12.5858 8.25 13 8.25C13.4142 8.25 13.75 8.58579 13.75 9V12C13.75 12.9665 12.9665 13.75 12 13.75H4C3.0335 13.75 2.25 12.9665 2.25 12V4Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.25 3C9.25 2.58579 9.58579 2.25 10 2.25H12.9999C13.4141 2.25 13.7499 2.58578 13.7499 2.99998L13.75 5.99998C13.75 6.4142 13.4142 6.74999 13 6.75C12.5858 6.75001 12.25 6.41423 12.25 6.00002L12.25 4.81063L7.53033 9.53033C7.23744 9.82322 6.76257 9.82322 6.46967 9.53033C6.17678 9.23744 6.17678 8.76257 6.46967 8.46967L11.1893 3.75H10C9.58579 3.75 9.25 3.41421 9.25 3Z"></path></svg></div><div class="gt_title-hide">
            View Less
            
              <span data-optimize-type="icon" data-attribute="uploadIconViewMore," data-section-id="DLhVfOwT0PKKHYz_productDescription" class="gt_icon"><svg width="100%" height="100%" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.23517 4.98517C1.27 4.95025 1.31139 4.92254 1.35695 4.90364C1.4025 4.88473 1.45134 4.875 1.50067 4.875C1.55 4.875 1.59884 4.88473 1.6444 4.90364C1.68995 4.92254 1.73134 4.95025 1.76617 4.98517L6.00067 9.22042L10.2352 4.98517C10.3056 4.91476 10.4011 4.8752 10.5007 4.8752C10.6003 4.8752 10.6958 4.91476 10.7662 4.98517C10.8366 5.05559 10.8761 5.15109 10.8761 5.25067C10.8761 5.35025 10.8366 5.44576 10.7662 5.51617L6.26617 10.0162C6.23134 10.0511 6.18995 10.0788 6.14439 10.0977C6.09884 10.1166 6.05 10.1263 6.00067 10.1263C5.95134 10.1263 5.9025 10.1166 5.85695 10.0977C5.81139 10.0788 5.77 10.0511 5.73517 10.0162L1.23517 5.51617C1.20025 5.48134 1.17254 5.43995 1.15364 5.3944C1.13473 5.34884 1.125 5.3 1.125 5.25067C1.125 5.20134 1.13473 5.1525 1.15364 5.10695C1.17254 5.06139 1.20025 5.02 1.23517 4.98517Z" fill="#currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M1.23517 1.98517C1.27 1.95025 1.31139 1.92254 1.35695 1.90364C1.4025 1.88473 1.45134 1.875 1.50067 1.875C1.55 1.875 1.59884 1.88473 1.6444 1.90364C1.68995 1.92254 1.73134 1.95025 1.76617 1.98517L6.00067 6.22042L10.2352 1.98517C10.27 1.9503 10.3114 1.92265 10.357 1.90378C10.4025 1.88491 10.4514 1.8752 10.5007 1.8752C10.55 1.8752 10.5988 1.88491 10.6444 1.90378C10.6899 1.92265 10.7313 1.9503 10.7662 1.98517C10.801 2.02004 10.8287 2.06143 10.8476 2.10698C10.8664 2.15254 10.8761 2.20136 10.8761 2.25067C10.8761 2.29998 10.8664 2.3488 10.8476 2.39436C10.8287 2.43991 10.801 2.4813 10.7662 2.51617L6.26617 7.01617C6.23134 7.05109 6.18995 7.0788 6.14439 7.0977C6.09884 7.11661 6.05 7.12634 6.00067 7.12634C5.95134 7.12634 5.9025 7.11661 5.85695 7.0977C5.81139 7.0788 5.77 7.05109 5.73517 7.01617L1.23517 2.51617C1.20025 2.48134 1.17254 2.43995 1.15364 2.3944C1.13473 2.34884 1.125 2.3 1.125 2.25067C1.125 2.20134 1.13473 2.1525 1.15364 2.10695C1.17254 2.06139 1.20025 2.02 1.23517 1.98517Z" fill="currentColor"></path></svg></span></div></a></div>
  {% endif %}
</div><div class="gt_atom-DLhVfOwT0PKKHYz_productVariant gt_product-custom-variant" data-name="Variant" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" {% if false %} style="display: block;" {% endif %} data-attribute="productVariant" data-class="gt_product-custom-variant"><input type="hidden" name="id" class="gt_variant--input" value="{{gtCurrentVariant.id}}"><div class="gt_product-variant gt_product-swatches" data-type="segment">
    {% for option in product.options_with_values %}
      <div class="gt_product-swatches--item gt_product-variant--item gt_variant--select-item  
      {% if option.name == 'Title' or option.values[0] == 'Default Title' %} variant_none {% endif %} 
      {% if option.values.size == 1 and false != true %}variant_none{% endif %}" data-name="{{option.name}}" data-check-show-one-variant="false">
          {% if forloop.index == 1 %}
            {% assign selected_value = gtCurrentVariant.option1 %}
          {% elsif forloop.index ==  2 %}
            {% assign selected_value = gtCurrentVariant.option2 %}
          {% else %}
            {% assign selected_value = gtCurrentVariant.option3 %}
          {% endif %}
          
          <span class="gt_mb--extra-small gt_product-variant--name">
            {{option.name}} 
          </span><div class="gt_flex gt_flex-wrap gt_product-variant--options">
                {% for value in option.values %}
                  {% if value == selected_value %}
                    {% assign selectedClass = 'gt_swatches--select gt_product-variant--select gt_product-variant--btn-select gt_active' %}
                  {% else %}
                    {% assign selectedClass = 'gt_swatches--select gt_product-variant--select gt_product-variant--btn-select' %}
                  {% endif %}
                  <div class="{{selectedClass}}" data-name="{{option.name | replace: '"', "&quot;"}}" data-value="{{value | replace: '"', "&quot;"}}"><span>{{ value }}</span></div>
                {% endfor %}
              </div></div>
    {% endfor %}
    {% if option.values.size > 1 or false %}
      <div class="position_hook"></div>
    {% endif %}
  </div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_boxSticky gt_product-sticky" data-name="Sticky Box" data-attribute="boxSticky" data-class="gt_product-sticky"><div class="gt_atom-DLhVfOwT0PKKHYz_boxNotify" data-name="Notify Me Box" data-attribute="boxNotify"><div class="gt_atom-DLhVfOwT0PKKHYz_productSoldOutForm DLhVfOwT0PKKHYz_productSoldOutForm gt_product-sold-out-form gt_modal-quick-view--sold-out" data-name="Product Sold Out Form" data-attribute="productSoldOutForm" data-class="gt_modal-quick-view--sold-out"><div class="gt_mb2--medium gt_message gt_message-success">
    Thanks! We will notify you when this product becomes available!
  </div><div class="gt_mb2--medium gt_form">
    {% form 'contact' %}
      
      <div class="gt_form-label">
        Email me when this product is available
      </div><input class="gt_form--type" type="hidden" name="contact[type]" value="Ecomsolid - Subscribe Buy Product Sold Out"><input type="email" name="contact[email]" class="gt_form-customer--email gt_form--email" value="{{ contact.fields.email }}" placeholder="Your Email"><input class="gt_form-product--name" type="hidden" name="contact[product_name]" value=""><input class="gt_form-variant--name" type="hidden" name="contact[variant_name]" value=""><input class="gt_form-product--url" type="hidden" name="contact[product_url]" value=""><input class="gt_form--return-url" type="hidden" name="return_to" value=""><button class="gt_btn gt_form--submit" type="submit">
        Notify Me
      </button>
    {% endform %}
  </div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_boxCartBtn gt_product-group-btn js_add--fixed" data-name="Cart Action Box" data-attribute="boxCartBtn" data-class="gt_product-group-btn js_add--fixed"><div class="gt_atom-DLhVfOwT0PKKHYz_productQuantity gt_mr2--small gt_product-custom-qty" data-name="Product Quantity" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" data-attribute="productQuantity" data-class="gt_mr2--small gt_product-custom-qty"><script type="application/json">{{gtCurrentVariant | json}}</script>
  {% if gtCurrentVariant.available %}
    {% assign classQuantity = '' %}
  {% else %}
    {% assign classQuantity = 'gt_soldout' %}
  {% endif %}
  <div class="gt_product-quantity {{classQuantity}}"><span class="gt_product-quantity--label gt_mb--extra-small">Quantity</span><div class="gt_product-quantity--container"><div class="gt_inline-flex gt_product-quantity--wrapper"><div class="gt_flex gt_justify-c-center gt_align-i-center gt_product-quantity--minus"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.44772 2.44772 7 3 7L13 7C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9L3 9C2.44772 9 2 8.55228 2 8Z" fill="currentColor"></path></svg></div><input type="text" class="input gt_product-quantity--number gt_quantity--input" value="1" min="1" name="quantity"><div class="gt_flex gt_justify-c-center gt_align-i-center gt_product-quantity--plus"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.55228 2 9 2.44772 9 3V13C9 13.5523 8.55228 14 8 14C7.44772 14 7 13.5523 7 13V3C7 2.44772 7.44772 2 8 2Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M2 8C2 7.44772 2.44772 7 3 7L13 7C13.5523 7 14 7.44772 14 8C14 8.55228 13.5523 9 13 9L3 9C2.44772 9 2 8.55228 2 8Z" fill="currentColor"></path></svg></div></div></div></div></div><div class="gt_atom-DLhVfOwT0PKKHYz_boxBtn gt_product-buttons" data-name="Buttons Box" data-attribute="boxBtn" data-class="gt_product-buttons"><button type="button" class="gt_atom-DLhVfOwT0PKKHYz_productButtonAddToCart gt_button gt_atom--btn  {% unless gtCurrentVariant.available %}gt_sold_out{% endunless %}    gt_product-button gt_button-atc gt_product-btn gt_product-btn__add-cart" data-name="Button Add To Cart" name="add" data-product-id="{{product.id}}" data-variant-id="{{gtCurrentVariant.id}}" data-text="Add To Cart" data-text-sold-out="Sold out" data-attribute="productButtonAddToCart" data-class="gt_product-button gt_button-atc gt_product-btn gt_product-btn__add-cart"><span class="gt_button-content"><span class="gt_button-content-text"><span class="gt_atom--button-DLhVfOwT0PKKHYz_productButtonAddToCart gt_button-content-text-main">
        
          
            {% unless gtCurrentVariant.available %}
              
                Sold out
              
            {% else %}
              Add To Cart
            {% endunless %}
          
        
      </span></span><span class="atom-button-loading-circle-loader"><span class="atom-button-loading-check-mark atom-button-loading-check-mark-draw"></span></span></span></button></div></div><div class="position_hook"></div></div></div></div>
        {% endform %}
      </main></div></div></div>
  