
  
<section class="gt_section-i4AQcQiqB7KoIyX " data-name="Blog"><div class="gt_banner-bg gt_lazyload" style=" background-image: url('')"><div class="gt_overlay"></div></div><div class="gt_container"><div class="gt_atom-i4AQcQiqB7KoIyX_featureBlog gt_row" data-name="Blog" data-attribute="featureBlog" data-class="gt_row"><div class="gt_col-lg-2 gt_col-md-2 gt_col-sm-12 gt_col-12 gt_atom-i4AQcQiqB7KoIyX_sidebarColumn gt_sidebar" data-name="Sidebar Column" data-attribute="sidebarColumn" data-class="gt_sidebar"><div class="gt_atom-i4AQcQiqB7KoIyX_titleSidebar gt_heading gt_mb2--large sm:gt_mb2--medium xs:gt_mb2--medium sm:gt_text--center xs:gt_text--center" data-name="Title Sidebar" data-attribute="titleSidebar" data-class="gt_heading gt_mb2--large sm:gt_mb2--medium xs:gt_mb2--medium sm:gt_text--center xs:gt_text--center"><div class="gt_text-wrapper">
        Blog
      </div></div><div class="gt_atom-i4AQcQiqB7KoIyX_filterBox sm:gt_py2--small xs:gt_py2--small gt_mb2--medium gt_items--center gt_justify--center gt_cursor--pointer gt_filter-box" data-name="Filter Box" data-attribute="filterBox" data-class="sm:gt_py2--small xs:gt_py2--small gt_mb2--medium gt_items--center gt_justify--center gt_cursor--pointer gt_filter-box"><div class="gt_atom-i4AQcQiqB7KoIyX_btnFilter gt_text-filter" data-name="Text Button Filter" data-attribute="btnFilter" data-class="gt_text-filter"><div class="gt_text-wrapper">
        Filter
      </div></div><div class="gt_atom-i4AQcQiqB7KoIyX_iconOpen gt_icon--open" data-name="Icon" data-attribute="iconOpen" data-class="gt_icon--open"><div class="gt_icon-wrapper"><span data-optimize-type="icon" data-attribute="textValue," data-section-id="i4AQcQiqB7KoIyX_iconOpen" class="gt_icon"><svg width="100%" height="100%" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.8381 3.7756C1.87584 3.73777 1.92067 3.70775 1.97002 3.68727C2.01938 3.66679 2.07229 3.65625 2.12573 3.65625C2.17916 3.65625 2.23207 3.66679 2.28143 3.68727C2.33078 3.70775 2.37561 3.73777 2.41335 3.7756L7.00073 8.36379L11.5881 3.7756C11.6259 3.73783 11.6707 3.70787 11.7201 3.68743C11.7694 3.66698 11.8223 3.65646 11.8757 3.65646C11.9291 3.65646 11.982 3.66698 12.0314 3.68743C12.0807 3.70787 12.1256 3.73783 12.1634 3.7756C12.2011 3.81337 12.2311 3.85821 12.2515 3.90756C12.272 3.95692 12.2825 4.00981 12.2825 4.06323C12.2825 4.11664 12.272 4.16954 12.2515 4.21889C12.2311 4.26824 12.2011 4.31308 12.1634 4.35085L7.28835 9.22585C7.25061 9.26368 7.20578 9.2937 7.15643 9.31418C7.10707 9.33466 7.05416 9.3452 7.00073 9.3452C6.94729 9.3452 6.89438 9.33466 6.84502 9.31418C6.79567 9.2937 6.75084 9.26368 6.7131 9.22585L1.8381 4.35085C1.80027 4.31311 1.77025 4.26828 1.74977 4.21893C1.72929 4.16957 1.71875 4.11666 1.71875 4.06323C1.71875 4.00979 1.72929 3.95688 1.74977 3.90752C1.77025 3.85817 1.80027 3.81334 1.8381 3.7756Z" fill="currentColor"></path></svg></span></div></div><div class="gt_atom-i4AQcQiqB7KoIyX_iconClose gt_icon--close" data-name="Icon" data-attribute="iconClose" data-class="gt_icon--close"><div class="gt_icon-wrapper"><span data-optimize-type="icon" data-attribute="textValue," data-section-id="i4AQcQiqB7KoIyX_iconClose" class="gt_icon"><svg width="100%" height="100%" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.21289 3.7756C6.25063 3.73777 6.29546 3.70775 6.34481 3.68727C6.39417 3.66679 6.44708 3.65625 6.50051 3.65625C6.55395 3.65625 6.60686 3.66679 6.65621 3.68727C6.70557 3.70775 6.7504 3.73777 6.78814 3.7756L11.6631 8.6506C11.7394 8.72688 11.7823 8.83035 11.7823 8.93823C11.7823 9.04611 11.7394 9.14957 11.6631 9.22585C11.5869 9.30213 11.4834 9.34499 11.3755 9.34499C11.2676 9.34499 11.1642 9.30213 11.0879 9.22585L6.50051 4.63766L1.91314 9.22585C1.83686 9.30213 1.73339 9.34499 1.62551 9.34499C1.51763 9.34499 1.41417 9.30213 1.33789 9.22585C1.26161 9.14957 1.21875 9.04611 1.21875 8.93823C1.21875 8.83035 1.26161 8.72688 1.33789 8.6506L6.21289 3.7756Z" fill="currentColor"></path></svg></span></div></div></div><div class="gt_atom-i4AQcQiqB7KoIyX_articleTagBox gt_article-tag--box" data-name="Article Tag Box" data-attribute="articleTagBox" data-class="gt_article-tag--box"><div class="gt_atom-i4AQcQiqB7KoIyX_titleArticleTag sm:gt_pt--none xs:gt_pt--none gt_text gt_text--highlight gt_font--bold" data-name="Title Article Tag" data-attribute="titleArticleTag" data-class="sm:gt_pt--none xs:gt_pt--none gt_text gt_text--highlight gt_font--bold"><div class="gt_text-wrapper">
        TOPIC
      </div></div><div class="gt_atom-i4AQcQiqB7KoIyX_lineTitle gt_bg--highlight gt_line-title" data-name="Line" data-attribute="lineTitle" data-class="gt_bg--highlight gt_line-title"></div>
            
            {% if blog.all_tags.size > 0 %}
            
            <div class="gt_mt2--small sm:gt_mb2--medium xs:gt_mb2--medium gt_list-tags"><ul class="gt_atom-i4AQcQiqB7KoIyX_articleTag gt_box--article-tag gt_text" data-name="Article Tag" data-attribute="articleTag" data-class="gt_text"><li><a href="{{ blog.url }}">
        All
      </a></li>
    
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}      
      <li class="gt_active-current"><span>{{ tag }}</span></li>
      {% else %}      
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  
  </ul></div>
            
            {% endif %}
            
          </div></div><div class="gt_col-lg-10 gt_col-md-10 gt_col-sm-12 gt_col-12 gt_atom-i4AQcQiqB7KoIyX_mainColumn gt_main" data-name="Main Column" data-attribute="mainColumn" data-class="gt_main"><div class="gt_atom-i4AQcQiqB7KoIyX_headingText gt_heading gt_heading-text" data-name="Heading Text" data-attribute="headingText" data-class="gt_heading gt_heading-text"><div class="gt_text-wrapper">
        Ecommerce UX Blog
      </div></div><div class="gt_atom-i4AQcQiqB7KoIyX_messageText gt_text gt_message-text" data-name="Message Text" data-attribute="messageText" data-class="gt_text gt_message-text"><div class="gt_text-wrapper">
        Stay on top of the most important digital marketing trends for eCommerce brands, from Facebook Ads to Shopify App Store, and so much more.
      </div></div><div class="gt_atom-i4AQcQiqB7KoIyX_largeItemBox gt_my2--large" data-name="Large Item Box" data-attribute="largeItemBox" data-class="gt_my2--large">
          {% for article in blog.articles limit:1 %}
            {% if forloop.first == true %}
            <div class="gt_atom-i4AQcQiqB7KoIyX_blogItemLarge gt_item-large" data-name="Blog Item Large" data-attribute="blogItemLarge" data-class="gt_item-large"><div class="gt_atom-i4AQcQiqB7KoIyX_leftBox gt_left-part" data-name="Left Box" data-attribute="leftBox" data-class="gt_left-part"><a href="{{ article.url }}"><div class="gt_atom-i4AQcQiqB7KoIyX_largeItemImage sm:gt_mb2--medium xs:gt_mb2--medium gt_item-image" data-name="Article Image" data-attribute="largeItemImage" data-class="sm:gt_mb2--medium xs:gt_mb2--medium gt_item-image"><img class="gt_img--article gt_lazyload" src="{{ article.image.src | img_url: '1200x' }}" alt="{{ article.title | escape | replace: '&quot;', '&apos;' }}"></div></a></div><div class="gt_atom-i4AQcQiqB7KoIyX_rightBox gt_right-part" data-name="Right Box" data-attribute="rightBox" data-class="gt_right-part"><a href="{{blog.url}}"><div class="gt_atom-i4AQcQiqB7KoIyX_blogTitleLarge gt_mb2--extra-small gt_block gt_text gt_blog-title" data-name="Blog Title" data-blog-id="{{blog.id}}" data-attribute="blogTitleLarge" data-class="gt_mb2--extra-small gt_block gt_text gt_blog-title">
  {{blog.title}}
</div></a><a href="{{ article.url }}"><h1 class="gt_atom-i4AQcQiqB7KoIyX_largeItemTitle gt_heading--small gt_item-title" data-name="Article Title" data-article-id="{{article.id}}" data-attribute="largeItemTitle" data-class="gt_heading--small gt_item-title">
 {{ article.title }}
</h1></a><h6 class="gt_atom-i4AQcQiqB7KoIyX_largeItemAuthor gt_text gt_mb2--extra-small gt_item-author" data-name="Article Author" data-article-id="{{article.id}}" data-attribute="largeItemAuthor" data-class="gt_text gt_mb2--extra-small gt_item-author">
  by {{ article.author }} 
</h6><h6 class="gt_atom-i4AQcQiqB7KoIyX_largeItemDate gt_mb2--small gt_text gt_font--normal gt_item-date" data-name="Article Date" data-article-id="{{article.id}}" data-attribute="largeItemDate" data-class="gt_mb2--small gt_text gt_font--normal gt_item-date">
  {{ article.published_at | date: "%b %d, %Y" }}
</h6><div class="gt_atom-i4AQcQiqB7KoIyX_largeItemShortContent gt_box-desc gt_mb2--small gt_text gt_item-shortdes" data-name="Article Short Content" data-article-id="{{article.id}}" data-attribute="largeItemShortContent" data-class="gt_mb2--small gt_text gt_item-shortdes">  
  {% if article.excerpt == blank %}
    {% if article.content != blank %}
      {{ article.content | strip_html | truncate: 150}}
    {% endif %}
  {% else %}
    {{ article.excerpt | strip_html | truncate: 150}}
  {% endif %}
</div></div></div>
            {% endif %}
          {% endfor %}
        </div><div class="gt_atom-i4AQcQiqB7KoIyX_smallItemsBox gt_grid-items" data-name="Small Items Box" data-attribute="smallItemsBox" data-class="gt_grid-items">
          {% for article in blog.articles offset:1 %}
            <div class="gt_atom-i4AQcQiqB7KoIyX_blogItem gt_mb2--large sm:gt_mb2--medium xs:gt_mb2--medium gt_blog-item" data-name="Blog Item Small" data-attribute="blogItem" data-class="gt_mb2--large sm:gt_mb2--medium xs:gt_mb2--medium gt_blog-item"><a href="{{ article.url }}"><div class="gt_atom-i4AQcQiqB7KoIyX_itemImageSmall gt_mb2--small gt_item-image" data-name="Article Image" data-attribute="itemImageSmall" data-class="gt_mb2--small gt_item-image"><img class="gt_img--article gt_lazyload" src="{{ article.image.src | img_url: '1200x' }}" alt="{{ article.title | escape | replace: '&quot;', '&apos;' }}"></div></a><a href="{{blog.url}}"><div class="gt_atom-i4AQcQiqB7KoIyX_blogTitleSmall gt_mb2--extra-small gt_block gt_text gt_blog-title" data-name="Blog Title" data-blog-id="{{blog.id}}" data-attribute="blogTitleSmall" data-class="gt_mb2--extra-small gt_block gt_text gt_blog-title">
  {{blog.title}}
</div></a><a href="{{ article.url }}"><h1 class="gt_atom-i4AQcQiqB7KoIyX_itemTitleSmall gt_text gt_item-title" data-name="Article Title" data-article-id="{{article.id}}" data-attribute="itemTitleSmall" data-class="gt_text gt_item-title">
 {{ article.title }}
</h1></a><div class="gt_atom-i4AQcQiqB7KoIyX_itemShortContentSmall gt_box-desc gt_item-shortdes" data-name="Article Short Content" data-article-id="{{article.id}}" data-attribute="itemShortContentSmall" data-class="gt_item-shortdes">  
  {% if article.excerpt == blank %}
    {% if article.content != blank %}
      {{ article.content | strip_html | truncate: 150}}
    {% endif %}
  {% else %}
    {{ article.excerpt | strip_html | truncate: 150}}
  {% endif %}
</div></div>
          {% endfor %}
        </div><div class="gt_atom-i4AQcQiqB7KoIyX_viewMoreBox gt_items--center" data-name="View More Box" data-attribute="viewMoreBox" data-class="gt_items--center"><div class="gt_atom-i4AQcQiqB7KoIyX_btnViewMore gt_text gt_cursor--pointer gt_inline-block gt_btn-viewmore" data-name="Text Button View More" data-attribute="btnViewMore" data-class="gt_text gt_cursor--pointer gt_inline-block gt_btn-viewmore"><div class="gt_text-wrapper">
        View More
      </div></div></div></div></div></div></section>

  