
<section class="gt_section-50325" data-name="Top Bar">
   <div class="gt_topbar">
      <div class="gt_container">
         <div class="gt_flex gt_justify-c-between gt_align-i-center gt_topbar-content">
            <div class="gt_flex gt_align-i-center gt_social">
               
               <a class="gt_social__facebook" href="#" target="_blank">
                <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.27273 5.18087H4.79589V3.52027C4.79589 2.89663 5.20022 2.75123 5.485 2.75123C5.76913 2.75123 7.23288 2.75123 7.23288 2.75123V0.00960457L4.8257 0C2.1535 0 1.54539 2.04479 1.54539 3.35334V5.18087H0V8.00596H1.54539C1.54539 11.6315 1.54539 16 1.54539 16H4.79589C4.79589 16 4.79589 11.5885 4.79589 8.00596H6.98924L7.27273 5.18087Z" fill="#FFFFFF"/>
                </svg>
               </a>
               
               
               <a class="gt_social__twitter" href="#" target="_blank">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.728 1.54963C17.0863 1.81286 16.3958 1.99042 15.6712 2.06988C16.411 1.66113 16.9783 1.01368 17.2458 0.241322C16.5538 0.620309 15.7878 0.895312 14.9718 1.04377C14.3188 0.401549 13.388 0 12.358 0C10.3806 0 8.77732 1.47965 8.77732 3.30494C8.77732 3.56359 8.80885 3.8157 8.87015 4.05801C5.89391 3.92001 3.25499 2.60451 1.48873 0.60494C1.18048 1.09282 1.00403 1.66048 1.00403 2.26673C1.00403 3.41317 1.63613 4.42489 2.59703 5.01741C2.01028 5.00008 1.45791 4.85129 0.974978 4.60376C0.974624 4.61749 0.974624 4.63155 0.974624 4.64562C0.974624 6.24658 2.20905 7.58203 3.8474 7.88613C3.54694 7.96134 3.23054 8.00189 2.90386 8.00189C2.67285 8.00189 2.44857 7.98129 2.22996 7.94238C2.68596 9.25526 4.00826 10.2111 5.57503 10.2376C4.34946 11.124 2.80572 11.6525 1.12769 11.6525C0.838922 11.6525 0.553699 11.6368 0.273438 11.606C1.85864 12.5442 3.74075 13.0909 5.76282 13.0909C12.3499 13.0909 15.9515 8.05519 15.9515 3.68785C15.9515 3.54462 15.9483 3.40173 15.9415 3.25981C16.6409 2.79482 17.2482 2.21245 17.728 1.54963Z" fill="#FFFFFF"/>
                </svg>
               </a>
               
               
               <a class="gt_social__youtube" href="#" target="_blank">
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.0085 2.82579C18.0085 2.82579 17.8382 1.54194 17.315 0.976669C16.6509 0.23571 15.9073 0.231345 15.5662 0.189332C13.1235 6.50436e-08 9.45961 0 9.45961 0H9.45142C9.45142 0 5.78755 6.50436e-08 3.34533 0.189332C3.00432 0.231345 2.26118 0.23571 1.59661 0.976669C1.0739 1.54194 0.903116 2.82579 0.903116 2.82579C0.903116 2.82579 0.728516 4.33226 0.728516 5.83873V7.25081C0.728516 8.75837 0.903116 10.2643 0.903116 10.2643C0.903116 10.2643 1.07335 11.5476 1.59661 12.1118C2.26118 12.8527 3.13254 12.8304 3.52102 12.9079C4.91728 13.0508 9.45579 13.095 9.45579 13.095C9.45579 13.095 13.1235 13.0885 15.5662 12.9013C15.9073 12.8577 16.6509 12.8533 17.315 12.1123C17.8377 11.5482 18.0085 10.2648 18.0085 10.2648C18.0085 10.2648 18.1831 8.75837 18.1831 7.25136V5.83928C18.1831 4.33226 18.0085 2.82579 18.0085 2.82579Z" fill="#FFFFFF"/>
                    <path d="M7.27605 3.27422V9.82172L12.7323 6.54797L7.27605 3.27422Z" fill="#333333"/>
                  </svg>
               </a>
               
              
               
            </div>
            <div class="gt_topbar-text"> 
               <span>FREE SHIPPING WORLDWIDE ON ORDER OVER 75$</span>
            </div>
            <div class="gt_flex gt_justify-c-right gt_info">
               <div class="gt_topbar_currency">
                  <div hook-currency="true"></div>
               </div>
               
               <a href="/account/login">
                 <div class="gt_topbar-item gt_info__text">
                    <span class="gt_flex gt_justify-c-center gt_align-i-center">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99986 1.75C6.66831 1.75 5.58887 2.82944 5.58887 4.16099C5.58887 5.49255 6.66831 6.57199 7.99986 6.57199C9.33142 6.57199 10.4109 5.49255 10.4109 4.16099C10.4109 2.82944 9.33142 1.75 7.99986 1.75ZM4.08887 4.16099C4.08887 2.00101 5.83988 0.25 7.99986 0.25C10.1598 0.25 11.9109 2.00101 11.9109 4.16099C11.9109 6.32098 10.1598 8.07199 7.99986 8.07199C5.83988 8.07199 4.08887 6.32098 4.08887 4.16099Z" fill="#FFFFFF"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.53271 15C1.53271 11.4248 4.42478 8.53276 7.99999 8.53276C11.5752 8.53276 14.4673 11.4248 14.4673 15C14.4673 15.4143 14.1315 15.75 13.7173 15.75H2.28271C1.8685 15.75 1.53271 15.4143 1.53271 15ZM3.08877 14.25H12.9112C12.5505 11.8601 10.4918 10.0328 7.99999 10.0328C5.5082 10.0328 3.44951 11.8601 3.08877 14.25Z" fill="#FFFFFF"/>
                      </svg>
                    </span>
                    <span class="gt_topbar-item-text">
                      Login
                    </span>
                 </div>
               </a>
               
            </div>
         </div>
      </div>
   </div>
</section><section class="gt_section-50365 " data-name="Header">
  <div class="menu_desktop">
    <header>
      <div class="gt_container">
        <div class="gt_flex gt_flex-nowrap gt_header-content ">
          <div class="gt_flex gt_logo">
            <div class="icon_when_scroll">
              <div class="icon_when_scroll_content">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="logo_header">
              <a href="/">
                {% if template.name != 'index'  %}
                <h2>
                  
                  <img class=" " src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/DnQTeuiwrU-logo-new-png.png?v=1576815717" alt="logo image">
  
                  
                </h2>
  
                {% else %}
                <h1>
                  
                  <img src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/DnQTeuiwrU-logo-new-png.png?v=1576815717" alt="logo image">
  
                  
                </h1>
                {%  endif  %}
              </a>
            </div>
          </div>
          
          <div class="search_bar_header">
            <div class="gt_flex search_bar_content">
              <form action="/search" method="get" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="gt_flex gt_header-search__form">
                <input type="hidden" name="type" value="product">
                <input type="search" name="q" required="required" value="{{ search.terms | escape }}" placeholder="Search...">
                <button type="submit">
                  <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.40959 14.9023C6.51025 14.9023 5.51097 14.7024 4.61163 14.4026C0.914326 12.8038 -0.98429 8.50692 0.514617 4.70969C1.21411 2.911 2.71301 1.4121 4.5117 0.612679C6.31039 -0.186738 8.40886 -0.186738 10.2076 0.512752C14.0048 2.01166 15.9034 6.40845 14.3046 10.2057C13.2054 13.1036 10.4074 14.9023 7.40959 14.9023ZM7.40959 2.01166C6.7101 2.01166 6.01061 2.11159 5.31112 2.41137C4.01207 3.01093 2.91287 4.11013 2.41323 5.40918C1.31403 8.20714 2.61309 11.4048 5.41105 12.504C8.20901 13.6032 11.4067 12.3042 12.5059 9.50619C13.6051 6.70823 12.306 3.51057 9.50806 2.41137C8.80857 2.11159 8.10908 2.01166 7.40959 2.01166Z" fill="currentColor"/>
                    <path d="M17.0026 18C16.7028 18 16.5029 17.9001 16.3031 17.7002L11.3067 12.7039C10.907 12.3042 10.907 11.7046 11.3067 11.3049C11.7064 10.9052 12.306 10.9052 12.7057 11.3049L17.7021 16.3012C18.1018 16.701 18.1018 17.3005 17.7021 17.7002C17.5022 17.9001 17.3024 18 17.0026 18Z" fill="currentColor"/>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <div class="gt_flex content_right">
            
              <div class="track_order_header">
                <a href="#">
                  <div class="gt_flex track_order_content">
                    <span class="icon_track_order">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.99998 20C9.59998 20 9.19998 19.9 8.79998 19.7L2.09998 16.4C1.59998 16.2 1.29998 15.8 0.999976 15.4C0.699976 15 0.599976 14.5 0.599976 14V6C0.599976 5.5 0.699976 5 0.999976 4.6C1.29998 4.2 1.59998 3.8 2.09998 3.6L8.79998 0.3C9.49998 -0.1 10.4 -0.1 11.2 0.3L17.9 3.6C18.3 3.8 18.7 4.2 19 4.6C19.3 5 19.4 5.5 19.4 6V14C19.4 14.5 19.3 15 19 15.4C18.7 15.8 18.4 16.2 17.9 16.4L11.2 19.7C10.8 19.9 10.4 20 9.99998 20ZM9.99998 2C9.89997 2 9.79998 2 9.69998 2.1L2.99998 5.4C2.89998 5.5 2.79998 5.6 2.69998 5.7C2.69998 5.8 2.59998 5.9 2.59998 6V14C2.59998 14.1 2.59998 14.3 2.69998 14.4C2.79998 14.4 2.89998 14.5 2.99998 14.6L9.69998 17.9C9.89997 18 10.1 18 10.3 17.9L17 14.6C17.1 14.5 17.2 14.5 17.3 14.4C17.4 14.3 17.4 14.2 17.4 14V6C17.4 5.9 17.4 5.8 17.3 5.6C17.2 5.6 17.1 5.5 17 5.4L10.3 2.1C10.2 2 10.1 2 9.99998 2Z" fill="currentColor"/>
                        <path d="M9.99998 10.2C9.79998 10.2 9.69998 10.2 9.59998 10.1L1.49998 6.1C0.999981 5.8 0.799981 5.2 0.999981 4.7C1.19998 4.2 1.79998 4 2.29998 4.3L9.99998 8L17.6 4.2C18.1 4 18.7 4.2 18.9 4.6C19.1 5.1 18.9 5.7 18.5 5.9L10.4 9.9C10.3 10.1 10.2 10.2 9.99998 10.2Z" fill="currentColor"/>
                        <path d="M10 20C9.4 20 9 19.6 9 19V9.2C9 8.6 9.4 8.2 10 8.2C10.6 8.2 11 8.6 11 9.2V19C11 19.5 10.6 20 10 20Z" fill="currentColor"/>
                        <path d="M13.8 8L5.40003 3.8C4.90003 3.5 4.81177 3.02343 5.01177 2.52343C5.21177 2.02343 5.70003 1.7 6.20003 2L14.6 6.2C15.1 6.4 14.9733 6.94861 14.793 7.39454C14.6048 7.85992 14.1016 8.1211 13.8 8Z" fill="currentColor"/>
                      </svg>
                    </span>
                    <span class="text_track_order">
                      Track Order
                    </span>
                  </div>
                </a>
              </div>
            
            <div class="cart_header">
              <a href="/cart" data-cart>
                <div class="gt_flex cart_header_content">
                  <div class="icon_cart">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.69998 20C5.19998 20 4.09998 18.8 4.09998 17.4C4.09998 15.9 5.29998 14.8 6.69998 14.8C8.19998 14.8 9.29998 16 9.29998 17.4C9.39998 18.8 8.19998 20 6.69998 20ZM6.69998 16.7C6.29998 16.7 6.09998 17 6.09998 17.3C6.09998 17.7 6.39998 17.9 6.69998 17.9C7.09998 17.9 7.29998 17.6 7.29998 17.3C7.39998 17 7.09998 16.7 6.69998 16.7Z" fill="currentColor"/>
                      <path d="M16.5 20C15 20 13.9 18.8 13.9 17.4C13.9 15.9 15.1 14.8 16.5 14.8C18 14.8 19.1 16 19.1 17.4C19.2 18.8 18 20 16.5 20ZM16.5 16.7C16.1 16.7 15.9 17 15.9 17.3C15.9 17.7 16.2 17.9 16.5 17.9C16.9 17.9 17.1 17.6 17.1 17.3C17.2 17 16.9 16.7 16.5 16.7Z" fill="currentColor"/>
                      <path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"/>
                    </svg>
                  </div>
                  <span class="text_cart_header">
                    Cart
                  </span>
                  <span class="total_number_cart" data-cart-item>
                    {% if cart.item_count <= 0 %}
                    {{ "0" }}
                    {% else %}
                    {{ cart.item_count }}
                    {% endif %}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav class="gt_nav">
      <div class="gt_container">
        <div class="gt_flex menu_desktop_content">
          <ul class="gt_flex nav_left">
            
            
            
            
            

            <li class="item_l1">
              
              
              
              
              
              <a class="gt_flex item_link_l1" href="#">
                

                  <span>
                    Mega Menu
                  </span>

                  
                  <div class="icon_l1">
                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 4.53033C4.23744 4.82322 3.76256 4.82322 3.46967 4.53033L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4 2.93934L6.46967 0.46967C6.76256 0.176777 7.23744 0.176777 7.53033 0.46967C7.82322 0.762563 7.82322 1.23744 7.53033 1.53033L4.53033 4.53033Z" fill="currentColor"/>
                    </svg>
                  </div>
                  
                  
              </a>
              
        
        

        
        <ul class="sub_menu ">
          <div class="gt_flex gt_container sub_menu_content">
            <div class="gt_flex sub_menu_content_left">
              
              
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      NEW SEASON 
                    </span>

                    
                    
                    
                    

                    

                    <span class="icon_tag_deal" style="background: #F85457">

                      
                      
                      
                      
                      SALE
                    </span>
                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Top Picks for Men
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Mens
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Womens
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Kids
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      NEW ARRIVALS
                    </span>

                    
                    
                    
                    

                    

                    <span class="icon_tag_deal" style="background: #548CF8">

                      
                      
                      
                      
                      NEW
                    </span>
                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Air Mattresses
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Backpacks
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Camp Kitchen
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Shelters
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      CAMPING
                    </span>

                    
                    
                    
                    

                    

                    <span class="icon_tag_deal" style="background: #FF8038">

                      
                      
                      
                      
                      HOT
                    </span>
                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Sleeping
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Festival Camping
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Backpacking
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Expedition
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Camp Kitchen
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      OUTLET
                    </span>

                    
                    
                    
                    

                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Camping
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Hydration
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      GPS & Watches
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Electronics
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      ACCESSORIES
                    </span>

                    
                    
                    
                    

                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Camping
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Climbing
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Fishing
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Diving
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
              
              <li class="div_items_sub_menu">
                
                
                
                
                
                <a class="title_submenu" href="#">
                  

                    <span>
                      EQUIPMENT
                    </span>

                    
                    
                    
                    

                    

                    
                </a>
                
            
            <ul class="sub_menu_l3">
              
              
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Camping
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Climbing
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      GPS & Watches
                    </span>
                    
                </a>
                
          </li>
          
              
              <li>
                
                
                
                
                
                <a class="item_l3" href="#">
                  
                    <span>
                      Electronics
                    </span>
                    
                </a>
                
          </li>
          
        </ul>
        
        </li>
        
      </div>

      <div class="gt_flex sub_menu_content_right">
        
        
          
        
        <a class="link_gt_product" href="#">
          <div class="gt_product_content">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <div class="gt_image_product">
              <div class="image_content">
                <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/slqtLNONSC-f5f64f45-9d9d-4feb-abbd-6b66cd4408ad-jpeg.jpeg?v=1576819088" alt="Image Product">
              </div>
              <div class="overlay_img"></div>
            </div>
            
            <div class="gt_product_name">
              Women Leather Handbag
            </div>
            <div class="gt_message">
              Hurry Up, Time Is Running Out
            </div>
          </div>
        </a>
      </div>
  </div>
  </ul>
  

  


</li>

            
            
            

            <li class="item_l1">
              
              
              
              
              
              <a class="gt_flex item_link_l1" href="#">
                

                  <span>
                    Catalog
                  </span>

                  
                  <div class="icon_l1">
                    <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 4.53033C4.23744 4.82322 3.76256 4.82322 3.46967 4.53033L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4 2.93934L6.46967 0.46967C6.76256 0.176777 7.23744 0.176777 7.53033 0.46967C7.82322 0.762563 7.82322 1.23744 7.53033 1.53033L4.53033 4.53033Z" fill="currentColor"/>
                    </svg>
                  </div>
                  
                  
              </a>
              
        
        

        

  
  <ul class="sub_menu_no_child">
    <div class="gt_flex  sub_menu_content">
      
      
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              A long menu first line 
            </span>
            
            
            
            

            

            
        </a>
        
    </li>
    
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              A long menu second line
            </span>
            
            
            
            

            

            
        </a>
        
    </li>
    
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              Okay another line
            </span>
            
            
            
            

            

            
        </a>
        
    </li>
    
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              Maybe another one ?
            </span>
            
            
            
            

            
            <span class="icon_tag_deal" style="background: #F85457">
              
              
              
              
              SALE
            </span>
            

            
        </a>
        
    </li>
    
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              Okay it’s time to stop
            </span>
            
            
            
            

            
            <span class="icon_tag_deal" style="background: #F85457">
              
              
              
              
              SALE
            </span>
            

            
        </a>
        
    </li>
    
      
      <li class="div_items_sub_menu">
        
        
        
        
        
        <a class="title_submenu" href="#">
          
            <span>
              Last line, I promise
            </span>
            
            
            
            

            
            <span class="icon_tag_deal" style="background: #F85457">
              
              
              
              
              SALE
            </span>
            

            
        </a>
        
    </li>
    
</div>
</ul>



</li>

            
            
            

            <li class="item_l1">
              
              
              
              
              
              <a class="gt_flex item_link_l1" href="#">
                

                  <span>
                    Sales
                  </span>

                  
                  
              </a>
              
        
</li>

</ul>


<ul class="gt_flex nav_right">
  
    <a href="#" class="gt_flex crazy_offers_content">
      <span class="gt_flex">
        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.20008 0.147995V0.147995C4.79362 -0.0686809 4.28847 0.0851685 4.07179 0.491628C3.94288 0.733453 3.94099 1.02318 4.06674 1.26666V1.26666C5.04908 3.19099 5.05848 5.46762 4.09208 7.39999C4.0472 7.47994 3.94602 7.50837 3.86607 7.4635C3.83834 7.44794 3.81567 7.42474 3.80074 7.39666V7.39666C3.62476 7.06883 3.49892 6.71648 3.42741 6.35133C3.39221 6.18066 3.27112 6.04039 3.10741 5.98066C2.94374 5.92069 2.76061 5.95079 2.62474 6.05999C0.712604 7.58466 -0.030349 10.1493 0.770744 12.46H0.770744C1.52868 14.6398 3.63158 16.0602 5.93675 15.9493C8.75608 15.9493 10.7274 14.5193 11.3474 12.028C12.2667 8.34999 10.0107 2.69733 5.20008 0.147994L5.20008 0.147995ZM8.35808 12.0667C8.19171 13.2102 7.17223 14.0323 6.01941 13.9527C4.91803 13.9531 3.97515 13.1631 3.78275 12.0787C3.75021 11.8975 3.87072 11.7242 4.05191 11.6917C4.09686 11.6836 4.14297 11.6848 4.18741 11.6953C4.86634 11.6846 5.49365 11.3308 5.85408 10.7553C6.26919 10.316 6.38746 9.67374 6.15608 9.11533V9.11533C6.06602 8.95476 6.12318 8.7516 6.28375 8.66154C6.36926 8.61358 6.47156 8.6057 6.56341 8.64C7.87527 9.23698 8.61445 10.6483 8.35808 12.0667H8.35808Z" fill="currentColor"/>
        </svg>
      </span>
      <span class="crazy_offers_text">
        Crazy Offers
      </span>
    </a>
  

  
  
  
  <li class="item_l1">
    
    
    
    
    
    <a class="gt_flex item_link_l1" href="#">
      
        <span>
          Blog
        </span>
        
    </a>
    
  </li>
  
  
  <li class="item_l1">
    
    
    
    
    
    <a class="gt_flex item_link_l1" href="#">
      
        <span>
          About Us
        </span>
        
    </a>
    
  </li>
  
  
  <li class="item_l1">
    
    
    
    
    
    <a class="gt_flex item_link_l1" href="#">
      
        <span>
          Contact Us
        </span>
        
    </a>
    
  </li>
  
</ul>
</div>
</div>
</nav>
</div>

<div class="menu_mobile">
  <div class="gt_container">
    <div class="gt_flex menu_mobile_content">
      <div class="icon_open_nav">
        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H16.9999C17.5522 0 17.9999 0.447715 17.9999 1C17.9999 1.55228 17.5522 2 16.9999 2H1C0.447715 2 0 1.55228 0 1Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 7.44772 0.447715 7 1 7H16.9999C17.5522 7 17.9999 7.44772 17.9999 8C17.9999 8.55228 17.5522 9 16.9999 9H1C0.447715 9 0 8.55228 0 8Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 15C0 14.4477 0.447715 14 1 14H16.9999C17.5522 14 17.9999 14.4477 17.9999 15C17.9999 15.5523 17.5522 16 16.9999 16H1C0.447715 16 0 15.5523 0 15Z" fill="currentColor"/>
        </svg>
      </div>
      <div class="logo_header_mobile">
        <a href="/">
          {% if template.name != 'index'  %}
          <h2>
            
            <img class=" " src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/DnQTeuiwrU-logo-new-png.png?v=1576815717" alt="logo image">

            
          </h2>
          {% else %}
          <h1>
            
            <img src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/DnQTeuiwrU-logo-new-png.png?v=1576815717" alt="logo image">

            
          </h1>
          {%  endif  %}
        </a>
      </div>
      <div class="cart_mobile">
        <a href="/cart" data-cart>
          <p>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.7001 20C5.2001 20 4.1001 18.8 4.1001 17.4C4.1001 15.9 5.3001 14.8 6.7001 14.8C8.2001 14.8 9.3001 16 9.3001 17.4C9.4001 18.8 8.2001 20 6.7001 20ZM6.7001 16.7C6.3001 16.7 6.1001 17 6.1001 17.3C6.1001 17.7 6.4001 17.9 6.7001 17.9C7.1001 17.9 7.3001 17.6 7.3001 17.3C7.4001 17 7.1001 16.7 6.7001 16.7Z" fill="currentColor"/>
              <path d="M16.4999 20C14.9999 20 13.8999 18.8 13.8999 17.4C13.8999 15.9 15.0999 14.8 16.4999 14.8C17.9999 14.8 19.0999 16 19.0999 17.4C19.1999 18.8 17.9999 20 16.4999 20ZM16.4999 16.7C16.0999 16.7 15.8999 17 15.8999 17.3C15.8999 17.7 16.1999 17.9 16.4999 17.9C16.8999 17.9 17.0999 17.6 17.0999 17.3C17.1999 17 16.8999 16.7 16.4999 16.7Z" fill="currentColor"/>
              <path d="M16 14.3H7.3C6.7 14.3 6 14.1 5.6 13.7C5.1 13.3 4.8 12.7 4.7 12.1L3.5 2.6C3.5 2.4 3.4 2.3 3.3 2.2C3.1 2.1 3 2 2.8 2H1C0.4 2 0 1.6 0 1C0 0.4 0.4 0 1 0H2.8C3.4 0 4.1 0.2 4.5 0.7C5 1.1 5.3 1.7 5.4 2.3L5.6 4.1H19C19.3 4.1 19.6 4.2 19.8 4.5C20 4.7 20 5 20 5.3L18.6 12.2C18.5 12.8 18.1 13.4 17.7 13.7C17.2 14.1 16.6 14.3 16 14.3ZM16 12.3C16.1 12.3 16.3 12.3 16.4 12.2C16.5 12.1 16.6 12 16.6 11.8L17.7 6.1H6L6.7 11.7C6.7 11.9 6.8 12 6.9 12.1C7 12.2 7.2 12.2 7.3 12.3H16Z" fill="currentColor"/>
            </svg>
          </p>
          <span class="total_number_cart_mobile" data-cart-item>
            {% if cart.item_count <= 0 %}
            {{ "0" }}
            {% else %}
            {{ cart.item_count }}
            {% endif %}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="gt_nav_open_menu">
    <div class="nav_open_menu_content">
      <div class="icon_close_menu">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7071 0.292893C18.0976 0.683417 18.0976 1.31658 17.7071 1.70711L1.70711 17.7071C1.31658 18.0976 0.683417 18.0976 0.292893 17.7071C-0.0976311 17.3166 -0.0976311 16.6834 0.292893 16.2929L16.2929 0.292893C16.6834 -0.0976311 17.3166 -0.0976311 17.7071 0.292893Z" fill="currentColor"/>
        </svg>
      </div>
      
      <div class="gt_my_account">
        <a href="/account" class>
          <span class="icon_my_account">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99986 1.75C5.66831 1.75 4.58887 2.82944 4.58887 4.16099C4.58887 5.49255 5.66831 6.57199 6.99986 6.57199C8.33142 6.57199 9.41086 5.49255 9.41086 4.16099C9.41086 2.82944 8.33142 1.75 6.99986 1.75ZM3.08887 4.16099C3.08887 2.00101 4.83988 0.25 6.99986 0.25C9.15984 0.25 10.9109 2.00101 10.9109 4.16099C10.9109 6.32098 9.15984 8.07199 6.99986 8.07199C4.83988 8.07199 3.08887 6.32098 3.08887 4.16099Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.532715 15C0.532715 11.4248 3.42478 8.53271 6.99999 8.53271C10.5752 8.53271 13.4673 11.4248 13.4673 15C13.4673 15.4142 13.1315 15.75 12.7173 15.75H1.28271C0.868501 15.75 0.532715 15.4142 0.532715 15ZM2.08877 14.25H11.9112C11.5505 11.8601 9.49179 10.0327 6.99999 10.0327C4.5082 10.0327 2.44951 11.8601 2.08877 14.25Z" fill="currentColor"/>
            </svg>
          </span>
          <span class="text_my_account">
            Account
          </span>
        </a>
      </div>
      
      <div class="search_mobile">
        <div class="search_mobile_content">
          <form action="/search" method="get" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="gt_flex gt_header-search__form">
            <input type="hidden" name="type" value="product">

            <button type="submit">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.72772 12.7219C6.00825 12.7219 5.20883 12.562 4.48935 12.3221C1.53151 11.0431 0.0126171 7.60559 1.21174 4.5678C1.77133 3.12885 2.97046 1.92973 4.40941 1.29019C5.84836 0.650658 7.52714 0.650658 8.96609 1.21025C12.0039 2.40938 13.5228 5.92681 12.2437 8.96459C11.3643 11.2829 9.12597 12.7219 6.72772 12.7219ZM6.72772 2.40938C6.16813 2.40938 5.60854 2.48932 5.04895 2.72914C4.0097 3.20879 3.13034 4.08815 2.73064 5.12739C1.85128 7.36576 2.89052 9.92389 5.12889 10.8033C7.36725 11.6826 9.92539 10.6434 10.8047 8.405C11.6841 6.16664 10.6449 3.6085 8.4065 2.72914C7.84691 2.48932 7.28731 2.40938 6.72772 2.40938Z" fill="currentColor"/>
                <path d="M14.4022 15.2C14.1624 15.2 14.0025 15.1201 13.8426 14.9602L9.84554 10.9631C9.52577 10.6434 9.52577 10.1637 9.84554 9.84395C10.1653 9.52418 10.645 9.52418 10.9647 9.84395L14.9618 13.841C15.2816 14.1608 15.2816 14.6405 14.9618 14.9602C14.8019 15.1201 14.642 15.2 14.4022 15.2Z" fill="currentColor"/>
              </svg>
            </button>
            <input type="search" name="q" required="required" value="{{ search.terms | escape }}" placeholder="Search...">
        </form></div>

      </div>

      <div class="menu_body">
        <ul class="menu_lef_mobile">
          
          
          
          
          

          <li class="item_l1">
            
            
            
            
            
              <div class="item_link" href="#">
                

                <span class="text_l1">
                  Mega Menu
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
            
            

      
      <ul class="sub_menu_l2">
        <div class="gt_title_l1">
          <div class="div_back_l1">
            <span class="icon_back_l1">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
              </svg>
            </span>
            <span class="text_title_l1">
              Mega Menu
            </span>
            <span class="icon_back_l1" style="visibility: hidden;">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
              </svg>
            </span>
          </div>
        </div>
        <div class="scroll_nav">
          
          
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  NEW SEASON 
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                NEW SEASON 
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Top Picks for Men
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Mens
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Womens
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Kids
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  NEW ARRIVALS
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                NEW ARRIVALS
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Air Mattresses
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Backpacks
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Camp Kitchen
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Shelters
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  CAMPING
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                CAMPING
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Sleeping
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Festival Camping
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Backpacking
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Expedition
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Camp Kitchen
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  OUTLET
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                OUTLET
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Camping
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Hydration
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    GPS & Watches
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Electronics
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  ACCESSORIES
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                ACCESSORIES
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Camping
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Climbing
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Fishing
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Diving
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
              <div class="item_link" href="#">
                
                <span class="text_l1">
                  EQUIPMENT
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
        </div>
        

        
        <ul class="sub_menu_l3">
          <div class="gt_title_l2">
            <div class="div_back_l2">
              <span class="icon_back_l2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
              <span class="text_title_l1">
                EQUIPMENT
              </span>
              <span class="icon_back_l1" style="visibility: hidden;">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="scroll_nav">
            
            
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Camping
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Climbing
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    GPS & Watches
                  </span>
                  
              </a>
              
          </li>
          
          
            
            

            <li class="item_l3">
              
              
              
              
              
              <a class="item_link" href="#">
                
                  <span class="text_l3">
                    Electronics
                  </span>
                  
              </a>
              
          </li>
          
          
    </div>
    </ul>
    

    </li>
    

    

    
    <div class="gt_l2_product">
      
      
        
      
      <a class="link_gt_product" href="#">
        <div class="gt_product_content">
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          <div class="gt_image_product">
            <div class="image_content">
              <img class=" gt_lazyload" src="https://cdn.shopify.com/s/files/1/0283/2636/3275/t/3/assets/slqtLNONSC-f5f64f45-9d9d-4feb-abbd-6b66cd4408ad-jpeg.jpeg?v=1576819088" alt="Image Product">
            </div>
            <div class="overlay_img"></div>
          </div>
          
          <div class="gt_product_name">
            Women Leather Handbag
          </div>
          <div class="gt_message">
            Hurry Up, Time Is Running Out
          </div>
        </div>
      </a>
    </div>
    
  </div>
  </ul>
  

  </div></li>
  
          
          
          

          <li class="item_l1">
            
            
            
            
            
              <div class="item_link" href="#">
                

                <span class="text_l1">
                  Catalog
                </span>
                
                <span class="icon_l1">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53033 3.46967C4.82322 3.76256 4.82322 4.23744 4.53033 4.53033L1.53033 7.53033C1.23744 7.82322 0.762563 7.82322 0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L2.93934 4L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L4.53033 3.46967Z" fill="currentColor"/>
                  </svg>
                </span>
                
                
            
            

      
      <ul class="sub_menu_l2">
        <div class="gt_title_l1">
          <div class="div_back_l1">
            <span class="icon_back_l1">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
              </svg>
            </span>
            <span class="text_title_l1">
              Catalog
            </span>
            <span class="icon_back_l1" style="visibility: hidden;">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447715 10 0 9.55228 0 9Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L2.41421 9L9.70711 16.2929C10.0976 16.6834 10.0976 17.3166 9.70711 17.7071C9.31658 18.0976 8.68342 18.0976 8.29289 17.7071L0.292893 9.70711C-0.0976311 9.31658 -0.0976311 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893Z" fill="currentColor"/>
              </svg>
            </span>
          </div>
        </div>
        <div class="scroll_nav">
          
          
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  A long menu first line 
                </span>
                
                
            </a>
            

        

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  A long menu second line
                </span>
                
                
            </a>
            

        

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  Okay another line
                </span>
                
                
            </a>
            

        

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  Maybe another one ?
                </span>
                
                
            </a>
            

        

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  Okay it’s time to stop
                </span>
                
                
            </a>
            

        

    </li>
    
          
          <li class="item_l2">
            
            
            
            
            
            <a class="item_link" href="#">
              
                <span class="text_l1">
                  Last line, I promise
                </span>
                
                
            </a>
            

        

    </li>
    

    

    
  </div>
  </ul>
  

  </div></li>
  
          
          
          

          <li class="item_l1">
            
            
            
            
            
            <a class="item_link" href="#">
              

                <span class="text_l1">
                  Sales
                </span>
                
                
            </a>
            

      

  </li>
  
  </ul>

  <ul class="menu_right_mobile">

    <div class="crazy_offer_mobile">
      <a href="#" class>
        <span class="icon_crazy_offer_mobile">
          <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.20008 0.14801V0.14801C4.79362 -0.0686657 4.28847 0.0851838 4.07179 0.491643C3.94288 0.733468 3.94099 1.02319 4.06674 1.26668V1.26668C5.04908 3.191 5.05848 5.46764 4.09208 7.40001C4.0472 7.47996 3.94602 7.50839 3.86607 7.46351C3.83834 7.44795 3.81567 7.42475 3.80074 7.39668V7.39668C3.62476 7.06885 3.49892 6.71649 3.42741 6.35134C3.39221 6.18067 3.27112 6.04041 3.10741 5.98068C2.94374 5.92071 2.76061 5.95081 2.62474 6.06001C0.712604 7.58468 -0.030349 10.1494 0.770744 12.46H0.770744C1.52868 14.6398 3.63158 16.0602 5.93675 15.9493C8.75608 15.9493 10.7274 14.5193 11.3474 12.028C12.2667 8.35001 10.0107 2.69734 5.20008 0.14801L5.20008 0.14801ZM8.35808 12.0667C8.19171 13.2102 7.17223 14.0324 6.01941 13.9527C4.91803 13.9531 3.97515 13.1631 3.78275 12.0787C3.75021 11.8975 3.87072 11.7242 4.05191 11.6917C4.09686 11.6836 4.14297 11.6849 4.18741 11.6953C4.86634 11.6846 5.49365 11.3308 5.85408 10.7553C6.26919 10.316 6.38746 9.67375 6.15608 9.11534V9.11534C6.06602 8.95478 6.12318 8.75161 6.28375 8.66156C6.36926 8.61359 6.47156 8.60571 6.56341 8.64001C7.87527 9.23699 8.61445 10.6484 8.35808 12.0667H8.35808Z" fill="currentColor"/>
          </svg>
        </span>
        <span class="text_crazy_offer_mobile">
          Crazy Offers
        </span>
      </a>
    </div>

    
    
    
    <li>
      
      
      
      
      
      <a class="gt_flex item_link" href="#">
        
          <span class="text_l1">
            Blog
          </span>
          
      </a>
      
</li>

    
    <li>
      
      
      
      
      
      <a class="gt_flex item_link" href="#">
        
          <span class="text_l1">
            About Us
          </span>
          
      </a>
      
</li>

    
    <li>
      
      
      
      
      
      <a class="gt_flex item_link" href="#">
        
          <span class="text_l1">
            Contact Us
          </span>
          
      </a>
      
</li>

</ul>
</div>

<div class="gt_currency" hook-currency="true">
  
</div>


</div>
</div>
</div>
</section>
